.navbar-container {
  display: flex;
  align-items: center;
  background-color: #2c0e3a;
  padding: 12px;
}

.title-with-timer-score-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-basis: 80%;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.match-game-logo {
  width: 26px;
}

@media screen and (min-width: 768px) {
  .match-game-logo {
    width: 52px;
  }
}

.score-and-timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.score-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .score-text {
    font-size: 22px;
  }
}

.number-count {
  color: #fec653;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .number-count {
    font-size: 24px;
  }
}

.timer-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.timer-image-container {
  height: 22px;
  width: 22px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-left: 4px;
}

.timer-image {
  height: 18px;
  width: 18px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .timer-image {
    height: 20px;
    width: 20px;
  }
}
